.calendar{
    width:702px;
    border:1px solid #dc8f00;
    border-radius: 10px;
    box-shadow: 5px 10px 40px 0px green;
}

.calendar_header{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color:white;
    background-color:orange;
    padding: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calendar_body{
    background-color:#FFFFFF;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display:block;
}

.calendar_body_days{
    background-color:orangered;
    color:white;
    display: inline;
    font-weight: bold;
}

.calendar_body_days_day{
    display: inline-block;
    width: 96.5156px;
    font-weight: bold;
    text-align: center;
   
}

.calendar_body_week{
    width: 100%;
    display: inline-block;
}

.calendar_body_week_day{
    display: inline-block;
    width: 100px;
    float: left;
    line-height: 40px;
    height: 60px;
    text-align: center;
    padding: 5px;
    border-radius:10px;
    vertical-align: middle;
    font-size: 30px;
}

.calendar_body_week_day:hover{
    background-color: #FFEC92;
    font-weight: bold;
    cursor:pointer;
}

.calendar_body_week_day--current-day{
    background-color: #fcd58c;
    color:white;
}
.calendar_body_week_day--current-day:hover{
    background-color: #fcd58c;
    color:black;
}
.btn{
    color: white;
    background-color: orange;
    display: inline-block;
    padding: 6px 12px;
    margin:10px;
    font-size: 14px;
    border:1px solid #dc8f00;
    box-shadow: 0px 20px 60px -3px orangered;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    
}
.btn:hover{
    background-color: orangered;
    
}
.btn_add-month{
  
}
.btn_sub-month{
    
}
.btn_add-month:after{
    content: ' >>';
}
.btn_sub-month:before{
    content: '<< ';
}