@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
*{
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

html, body {
    margin:0px;
    padding: 0px;
    background-color: greenyellow;
}

.container{
    width:740px;
    margin:0 auto;
    padding: 20px;
    margin-top: 10px;
    
}

.right{
    float:right;
    margin: 0px;

}
.left{
    float: left;
    margin:0px;
}
.credits{
    padding:20px;
    text-align: center;
}
.credits > i{
    font-size: 40px;
    color:black;
}

.credits > a{
    text-decoration: none;
    color:blue;
}

.show{
     color: white;
    background-color: orange;
    display: inline-block;
    padding: 10px 32px;
    margin:10px;
    font-size: 14px;
    border:1px solid #dc8f00;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 5px 3px 20px 0px green;
    border-radius: 4px;
}