.calendar{
    width:702px;
    border:1px solid #dc8f00;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 40px 0px green;
}

.calendar__header{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color:white;
    background-color:orange;
    padding: 3px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.calendar__body{
    background-color:#FFFFFF;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display:block;
}

.calendar__days{
    background-color:orangered;
    color:white;
    display: block;
    font-weight: bold;
}

.calendar__day{
    display: inline-block;
    width: 98.8156px;
    font-weight: bold;
    text-align: center;

}

.calendar__week{
    width: 100%;
    display: inline-block;
}
@keyframes anim{
    from{opacity:0;}
    to{opacity:1;}
}
.animated{
    animation-name: anim;
    animation-duration: 2s;
}
.calendar__week__day{
    display: inline-block;
    width: 100px;
    float: left;
    line-height: 40px;
    height: 60px;
    text-align: center;
    padding: 5px;
    border-radius:10px;
    vertical-align: middle;
    font-size: 30px;
}

.calendar__week__day:hover{
    background-color: #FFEC92;
    font-weight: bold;
    cursor:pointer;
}
.calendar__week__day:empty:hover{
    background-color:#FFFFFF;
    cursor:initial;
}
.calendar__week__day--before{
    color:#CCC;
    background-color:#FFFFFF !important;
    cursor:initial !important;
    font-weight: normal !important;
}
.calendar__week__day--current-day{
    background-color: #fcd58c;
    color:white;
}
.calendar__week__day--current-day:hover{
    background-color: #fcd58c;
    color:black;
}
.btn{
    color: white;
    background-color: orange;
    display: inline-block;
    padding: 6px 12px;
    margin:10px;
    font-size: 14px;
    border:1px solid #dc8f00;
    box-shadow: 0px 20px 60px -3px orangered;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}
.btn:hover{
    background-color: #ff7200;
}
.btn:active{
    background-color: orangered;
}
.btn__add-month{

}
.btn__sub-month{

}
.btn__add-month:after{
    content: ' >>';
}
.btn__sub-month:before{
    content: '<< ';
}
.btn--show{
    padding: 10px 32px;
    margin:10px;
    box-shadow: 5px 3px 20px 0px green;
    margin-left:160px;
}
.show-button:hover{
    background-color: #ff7200;
}

.show-button:active{
    background-color: orangered;
}
.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}
.right{
    float:right;
    margin: 0px;

}
.left{
    float: left;
    margin:0px;
}
.info-message {
    font-size: 25px;
    position: relative;
    bottom: -10;
}