@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';
@import "calendar.css";

*{
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

html, body {
    margin:0px;
    padding: 0px;
    background: url('http://api.thumbr.it/whitenoise-361x370.png?background=adff20ff&noise=626262&density=100&opacity=18');
}

.container{
    width:740px;
    margin:0 auto;
    height:600px;
    padding: 20px;
    margin-top: 10px;

}

.credits{
    padding:5px;
    text-align: center;
    position:fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width:100%;
    bottom:0;
    font-size: 20px;
    color:white;
}
.credits > i{
    font-size: 50px;
    color:white;
}

.credits > a{
    text-decoration: none;
    color:turquoise;
}